html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}

/* NAVBAR */
#navbar {
  /* background-color: #ceced0; */
  box-shadow: 0 5px 5px #888888;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: initial;
}
#nav-heading {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1em 0 1em 2em;
}
#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0.5em 4em 1em 1em;
  cursor: pointer;
}
.nav-content {
  padding: 0.7em 1em 0 1em;
  font-size: 1.5em;
  font-weight: 400;
  transition: 0.2s;
}
.nav-content:hover {
  text-decoration: underline;
}
.nav-github {
  padding: 0.5em 1em 0 1em;
  transition: 0.4s;
}
.nav-github:hover {
  transform: scale(1.2);
}

/* HEADER */
header {
  margin: 14em 0;
}
.heading {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  margin: 1em 0 0.3em 0;
}
.tag-line {
  text-align: center;
  font-size: 1.5em;
  color: rgb(75, 75, 75);
}

/* PROJECT_SECTION */
.projects-container {
  background-color: #282829;
  color: #ceced0;
  margin: 3em 0 8em 0;
  padding: 10px 20px 12em 20px;
}
.projects-header {
  font-weight: 500;
  font-size: 2.5em;
  padding-top: 2em;
  text-align: center;
  margin-bottom: 10px;
}
.projects-content {
  display: flex;
}
.projects-content ul {
  margin-top: 4.6em;
}
.projects-content ul a {
  text-decoration: none;
  list-style-type: none;
  color: whitesmoke;
}
.projects-content ul li {
  font-size: 1.5em;
  margin: 1em 0 0 1em;
}
#projects-container-image {
  height: 25em;
  width: 30em;
  margin-left: 25%;
}
#view-projects-btn {
  background-color: #ceced0;
  border-color: #ceced0;
  border-radius: 0.2em;
  border-style: none;
  padding: 5px 10px;
  font-size: 0.9em;
  font-family: "Work Sans", sans-serif;
  transition: 0.5s;
  cursor: pointer;
}
#view-projects-btn:hover {
  transform: scale(1.05);
}
/* FEEDBACK */
.feedback-section {
  background-color: #eaeaea;
  position: absolute;
  /* margin: 0 auto; */
  padding: 1em;
  border-radius: 0.2em;
  margin-left: 23%;
  margin-top: -14em;
  width: 50em;
  height: 15em;
  z-index: 999;
  box-shadow: 3px 3px 10px #000000;
}
.feedback {
  display: flex;
  justify-content: space-evenly;
}
.your {
  margin-top: 1em;
}
.name {
  margin: 2em;
}
.name input {
  border-style: none;
  border-radius: 0.2em;
  width: 15em;
  padding: 0.5em 1em;
}
.email {
  margin: 2em;
}
.email input {
  border-style: none;
  border-radius: 0.2em;
  width: 15em;
  padding: 0.5em 1em;
}
.feedback textarea {
  border-style: none;
  border-radius: 0.2em;
  margin-top: 3em;
  width: 20em;
}
.btn {
  text-align: center;
}
input[type="submit"] {
  width: 13em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  background-color: #282829;
  color: #ceced0;
  font-size: 0.9em;
  border-style: none;
  border-radius: 0.2em;
  transition: 0.4s;
}
input[type="submit"]:hover {
  transform: scale(1.2);
}

/* FOOTER */
#footer {
  /* margin: 10em 0 5em 0; */
  display: flex;
  width: 100%;
  margin-top: -8em;
  padding-top: 15em;
  position: absolute;
  z-index: 0;
  background-color: #a8a8a8;
  color: #3e4143;
  padding-bottom: 2em;
  justify-content: space-evenly;
}
.footer-section {
  display: inline;
}
.creator-photo {
  height: 6em;
  width: 6em;
  padding: 2em 0;
  object-fit: cover;
  border-radius: 60%;
  display: inline;
  vertical-align: middle;
}
.personal {
  display: flex;
}
.info {
  padding: 3em 0 2em 0;
  width: 28em;
  margin-left: 1em;
  line-height: 1.3em;
}
.info p {
  margin-bottom: 1em;
}
.creator-info {
  margin: 3em 0;
  color: #282829;
  font-weight: bold;
}

.project-name h1 {
  background-color: #a8a8a8;
  margin: 14em 0 0 0;
  padding-bottom: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
